@font-face {
  font-family: 'Raimond';
  src: url("../../public/fonts/Raimond.otf") format("opentype"), /* Modern Browsers */
       url("../../public/fonts/Raimond.ttf")  format("truetype");
}

.logoContainer {
  text-align: center;
  padding: 60px 0 120px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;

  .logo {
    font-family: 'Raimond', cursive;
    color: rgb(63, 63, 63);
    font-size: 36px;
    user-select: none;
  }
}